.slideshow-wrap {
  width: 75%;
  max-width: 1400px;
  min-width: 800px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  filter: blur(20px);
  background-position: center;
  background-size: cover;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media video {
  width: 90%;
}

.slide-text-area {
  background: rgba(0, 0, 0, 0.5);
  padding: 25px 15px;
}

.slide-head {
  font-size: 36px;
  color: white;
  font-weight: 500;
  text-align: center;
}

.slide-subHead {
  font-size: 12px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.slide-para {
  margin-top: 20px;
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.content-card {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.text-area-card {
  padding: 25px 15px;
  width: 500px;
}

.head-card {
  font-size: 36px;
  color: white;
  font-weight: 500;
  text-align: center;
}

.subHead-card {
  font-size: 12px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.para-card {
  margin-top: 5px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 40px;
}

.video-bg {
  background: rgba(0, 0, 0, 0.1);
}
